body {
    margin: 0;
    padding: 0;
    border:none;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.25rem;
}

/* var section */

:root {
    --color-primary:#f0f0f0;
    --color-accent:#58565a;

    --base-padding:1em 0.5em;

}

/* font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto Mono', monospace; */

/* general rules */

h1,
h2 {
    font-family: 'Lora', serif;
    text-align: center;
}

p {
    max-width: 70ch;
    text-align: center;
}

/* classes */

.photo-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
}

.photo-list a {
    text-decoration: none;
    color: inherit;
}

.photo-list a:hover,
.photo-list a:focus {
    border-bottom: 1px solid;
}

.history-photo {
    background: black url(../images/Swiftcurrent\ Milky\ Way\ -\ Imgur.jpg) no-repeat fixed ;
    background-size: cover;
    color: var(--color-primary);
    padding: var(--base-padding);
}

.history-photo__par {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.word-etymology {
    color: var(--color-accent);
    margin: 1em 0.5em;
    border: 1px solid var(--color-accent);
    box-shadow: 3px 6px #58565a;
}

.early-history {
    color: var(--color-primary);
    background: rgb(78, 76, 76) url(../images/Finally\ convinced\ my\ dad\ to\ buy\ a\ smartphone.\ He\ keeps\ saying\ he\ loves\ the\ camera.\ He\ now\ sends\ me\ this.\ -\ Imgur.jpg) no-repeat fixed;
    background-size: cover;
    background-blend-mode:darken;
    padding: var(--base-padding);
}
